body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #333;
  padding: 15px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  display: inline;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-menu a:hover {
  text-decoration: underline;
}


.highlight {
  color: rgb(241, 226, 3);
}

.container {
  display: flex;
  justify-content: row;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
  gap: 10px; 
}

.form-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.unit {
  font-size: 14px;
  color: #333;
}

.submit-btn {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100px;
  align-self: center;
}

.submit-btn:hover {
  background-color: #555;
}
