/* CenteredBlock.css */

.centered-block {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 75vh; /* Adjust height to fit the layout */
    width: 100%;
    margin-top: 50px; /* Space from navbar */
}

.content {
    background-color: #F7F7F7; 
    width: 95%;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically */
    gap: 80px; /* Space between elements */
}
