#tid {
  position:sticky;
  margin:24px;
  top:24px;
}
#rtid {
  border-spacing: 10px;
}
.thead th {
  background-color: #D9D9D9;
  width:177px;
  height:46px;
}
.scrol {
  overflow:auto;
  height:250px;
}
.content {
  gap:40px;
}
.wspace {
  width:60px;
  display:inline-block;
}